/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Dancing+Script:wght@600&family=Grape+Nuts&family=Indie+Flower&family=Montserrat&family=Rock+Salt&display=swap');

body{
  background-color: black;
  color: antiquewhite;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
}

